<h1 style="color: white; text-align:center;"><i class="fas fa-users"></i>  Users Information</h1>
<div class="icon" style="display: inline;float: right;">
    <img src="https://i.postimg.cc/7Lgq94SM/usericon.jpg" style="width: 60px; height: 60px;border-radius: 50%;display: inline;float: left;">
    <div class="dropdown">
        <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <a (click)="onLogout()">Logout</a>
          <a routerLink="/admin/addbook">Back</a>
          
        </div>
      </div>
</div>
<div class="container" style="height: 700px;">
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8" style="overflow-x:auto;">
            <table class="table table-boarder text-center mt-5" style="background-color: white">
                <thead style="background-color: rgb(142, 240, 138);">
                    <th>Username</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Delete</th>
                </thead>
                <tr *ngFor="let user of userArray,let i=index">
                    <td>{{user.username}}</td>
                    <td>{{user.phoneno}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td><button class="btn btn-danger btn-sm" style="background-color: red;" (click)="onDelete(i)">x</button></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        
    </div>
</div>

