<div class="container" style="height: 700px;" >
    <div class="row" style="padding-top: 60px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 ">
        <h1 class="mt-3" style="text-align: center; color: white"><i class="fas fa-user-shield" style="color: rgb(238, 71, 196);"></i>  Login</h1>
        <form  #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" >
            
           <!----------------------username------------------------>
          <div class="form-group mt-3">
              <label for="inputAddress" class="form-label" style="font-size: 15pt;color:white; font-weight: bold;"><i class="fas fa-user" style="color: rgb(184, 63, 184);"></i>  UserId</label>
              <input type="text" class="form-control" id="inputAddress" name="userid" placeholder="UserId" required ngModel #un="ngModel">
              <div class="text-danger" *ngIf="un.invalid && (un.touched || un.dirty || formRef.submitted)">
                UserId is required
              </div>
          </div>
          <!----------------------password------------------------>
          <div class="form-group mt-3">
              <label for="inputPassword4" class="form-label" style="font-size: 15pt;color:white; font-weight: bold;"><i class="fas fa-lock" style="color: rgb(223, 59, 223);"></i>  Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="password" pattern="^(?=.*?[0-9])(?=.*[A-Z]).*$" name="password" required ngModel #pw="ngModel">
              <div class="text-danger" *ngIf="pw.invalid && (pw.touched || formRef.submitted)">
                <div *ngIf="pw.errors?.required">Password is required.</div>
                <div *ngIf="pw.errors?.pattern">Password should contain 1 capital letter 1 number of min length 6.</div>
              </div>
            </div>          
        
            <!----------------------submit button------------------------>
            <div class="col-6" style="display: inline; float: left; padding-left: 30px;">
              <button type="submit" class="btn mt-3 mb-3 btn-success" [disabled]="formRef.invalid" style="font-weight: bold;">Login</button>
              
          </div>
          <div class="col-6" style="display: inline; float: left;">
            <button  class="btn mt-3 mb-3 btn-primary"  style="font-weight: bold;"><a routerLink="/register" style="color: white; text-decoration: none;">Register</a></button>
            
        </div>
      </form>
      </div>
      <div class="col-sm-4"></div>
      
      
    </div>
    
    
  </div>

