<h1 style="text-align: center;font-weight: bold;color: white;">
    <i class="fas fa-user-shield"></i>Admin Registration</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            
            <form class="row g-3  p-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
               
                    <div class="col-sm-6">
                        <label class="form-label"><i class="fas fa-user"></i>UserId</label>
                        <input type="text" name="userid" id="userid" class="form-control" placeholder="userid" formControlName="userid">
                        <div class="text-danger" *ngIf="registerForm.get('userid').hasError('required') && registerForm.get('userid').touched">
                            UserId is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label"><i class="fas fa-user"></i>Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" formControlName="name">
                        <div class="text-danger" *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched">
                            Name is required.
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label"><i class="fas fa-envelope"></i>Email</label>
                        <input type="email" name="email" id="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="xyz@gmail.com" formControlName="email">
                        <div class="text-danger" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                            Email is required
                            <div *ngIf="registerForm.get('email').hasError('pattern')">Invalid Pattern</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label"><i class="fas fa-phone"></i>Phone No</label>
                        <input type="number" name="phoneno" id="phoneno"  class="form-control" pattern="[0-9]{10}" formControlName="phoneno">
                        <div class="text-danger" *ngIf="registerForm.get('phoneno').hasError('required') && registerForm.get('phoneno').touched">
                            Contact number is required.
                            <div *ngIf="registerForm.get('phoneno').hasError('pattern')">
                                Min length & Max length should be 10
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label"><i class="fas fa-lock"></i>Password</label>
                        <input type="password" name="password" id="password" class="form-control" pattern="^(?=.*?[0-9])(?=.*[A-Z]).*$" minlength="6" formControlName="password">
                        <div class="text-danger" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
                            password is required.
                            <div *ngIf="registerForm.get('password').hasError('pattern') && registerForm.get('phoneno').hasError('minlength')">Password should contain min 1 number,1 capital letter of minlenth 6</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success mt-2 center" style="font-weight: bold;" type="submit" [disabled]="registerForm.invalid">Submit</button>
                    </div>
                    
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

