<div class="icon" style="display: inline;float: right;">
    <img src="https://i.postimg.cc/7Lgq94SM/usericon.jpg" style="width: 60px; height: 60px;border-radius: 50%;display: inline;float: left;">
    <div class="dropdown">
        <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <a (click)="onLogout()">Logout</a>
          <a routerLink="/admin/addbook">Back</a>
          
        </div>
      </div>
</div>


<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
        <div *ngFor="let i=index,let book of booksArray | paginate:{ itemsPerPage:8,currentPage:p}">
            <div class="col">
                <div class="card border-success mb-3" style=" width: 240px; height: 420px">
                    <img [src]=book.userImgLink class="card-img-top mx-auto " style="width: 100%; height: 190px;padding: 5px;">
                    <div class="card-body">
                        <h6 class="card-text">{{book.category}}</h6>
                        <p class="card-text" style="font-size: 15px;"><b>{{book.author}}</b></p>
                        <h6 class="card-text">{{book.publisher}}</h6>
                        <h6 class="card-text">{{book.price | currency:"INR"}}</h6>
                        <div style="display: inline;float: left;padding-right: 10px;">
                            <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                        </div>
                        <div style="display: inline;float: left;">
                            <button class="btn btn-success" (click)="onEdit(i)">Edit</button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
    <pagination-controls (pageChange)="p=$event" style="background-color: white;"></pagination-controls>
</div>
