a{
    color: white;
    font-size: 15pt;
}
.dropdown-item{
    color: black;
}
.bg-img{
    background-image: url("https://i.postimg.cc/bJjFDhQ5/bg.jpg");
    width: 100%;
    height: 100%;
}
