<div class="container ">
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="card mt-3 mb-3 " style="width: 100%;"  >
                <div class="row no-gutters">
                    <div class="col-sm-5">
                        <img class="card-img" [src]=bookObj.userImgLink height="400px" width="100%">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                       
                        
                            <p><b>Title:</b>{{bookObj.booktitle}}</p>
                            <p ><b>Author:</b>{{bookObj.author}}</p>
                            <p><b>Publisher:</b>{{bookObj.publisher}}</p>
                            <p><b>Publisher Date:</b>{{bookObj.publishedyear }}</p>
                            <p><b>Rating:</b><ngb-rating [max]="5" style="color: rgb(231, 136, 27);" [(rate)]=bookObj.rating [readonly]="true"></ngb-rating></p>
                            <p><b>Price:</b>{{bookObj.price}}/-</p>
                            <p style="font-size: 15px;"><b>Description:</b>{{bookObj.description}}</p>
                            <!--buttons-->
                            <div style="display: inline; float: left;padding-bottom: 5px;">
                                <button class="btn btn-success" (click)="onAdd()">Add to Cart</button>
                            </div>
                            <div style="display: inline; float: left;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;">
                                <button class="btn btn-info" (click)="onAdd()">Wishlist</button>
                            </div>
                            <div style="display: inline; float: left;padding-bottom: 5px;">
                                <button class="btn btn-danger" (click)="onAdd()">Buy</button>
                            </div>
                            
                        </div> 
                    </div>
                </div>
            </div>     
        </div>
        
        
        
   
    
    </div>

</div>

